$primaryColor:#ED1164;
$secondaryColor:#91A3AD;
$lightGreyColor:#FFEBF2;
$mediumGreyColor:#91A3AD;
$mediumGreyColorOpacity:#91A3AD26;
$darkGreyColor:#575757;
$errorColor:#ED421C;

$mediaQueryDesktop:1024px;